.Navigation {
    display: grid;
    grid-template-columns: 85% auto;

    height: 190px;

    border-bottom: 1px solid black;
}

.Title {
    
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.Deliverables {
    margin-left: 50px;
}

ul li{
    margin-bottom: 10px;
}


.chicle-regular {
    font-family: "Chicle", serif;
    font-weight: 400;
    font-style: normal;
  }
  