.Navigation {
    display: grid;
    grid-template-columns: 85% auto;

    height: 190px;

    border-bottom: 1px solid black;
}

.Title {
    
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.Deliverables {
    width: 100%;
}

.Deliverables-Links {
    position: fixed;
    top: 50%;
}

.Deliverables-Viewer {
    margin-left: 20%;
    
    width: 80%;
}

ul li{
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

.chicle-regular {
    font-family: "Chicle", serif;
    font-weight: 400;
    font-style: normal;
}
