.Navigation {
    display: grid;
    grid-template-columns: 10% auto;

    height: 190px;

    border-bottom: 1px solid black;
}

.Title {
    
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.Deliverables {
    width: 100%;
}

.Deliverables-Links {
    top: 50%;
}

.Deliverables-Viewer {
    margin: 0 2% 0 2%;
    
    width: 96%;
}

.Deliverables-Links ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto
}

.Deliverables-Links li{
    list-style-type: none;
}

h1 {
    text-align: center;
}

.chicle-regular {
    font-family: "Chicle", serif;
    font-weight: 400;
    font-style: normal;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    background-color: #e3d5ca;
}